*{
    margin: 0;
    padding: 0;

}
nav{
    margin: 0;
    padding: 10px;
    background-color: aquamarine;
    position: sticky;
    display: flex;
}
span{
    color: green;
    font-size: 72px;
}
.log{
    color: orange;
    text-align: center;
    font-size: 32PX;
}
body{
   background-color: rgb(155, 152, 148);
}
.img{
    margin-top: 80px;
    background-image: ;
    
}
.par{
    font-size: 28px;
    font-family: Georgia;
    color: crimson;
    gap: 20px;
}
.all{
    display: flex;
    gap: 80px;
    text-align: center;
    justify-content: center;
    margin-bottom: 80px;
}
.next{
    
}
form{
    margin-bottom: 40px;
}
.h1{
    margin-top: 80px;
    margin-left: 0;
}
.log:hover{
    transition-duration: 10s;
    background-color: blue;
    box-shadow: rgb(36, 185, 36);
    transition-delay: 2ms;
}
span:hover{
    color: orange;

}
h1:hover{
    color: green;
}
.par:hover{
    animation-duration: 2ms;
    animation: backwards;animation-direction: reverse;
    accent-color: green;
    background-color: bluevioleT;
    color: black;
    text-decoration-style: dotted;
}
video:hover{
    text-align: center;
    cursor: move; 
}
video{
    align-items: center;
    margin-left: 40px;
    margin-top: 5px;  
}
marquee{
    margin-left: 40px;
    margin-top: 0;
    @media (max-width: 750px) {
        #background-video {
           display: none;
        } 
        marquee{
           background: url("https://assets.codepen.io/6093409/river.jpg") no-repeat;
           background-size: cover;
        }
     }
    
}
#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
 }
 .MES{
    color: rgb(78, 21, 172);
    font-size: 28px;
 }
 marquee{
    color: blue;
 }
 .contact{
    
 }
 footer{
    margin-top: 20px;
    color: white;
    background-color: black;
 }
 .link {
    margin-top: 10px;
    gap: 5px;
    font-size: 48px;
 }
 audio{
    margin-top: 10px;
    margin-bottom: 10px;
 }